# Sort all elements in the `Pandas.Dataframe` object along all axis

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1,2,3], [3,-2,4], [1,4,6]])

In [6]:
df

   0  1  2
0  1  2  3
1  3 -2  4
2  1  4  6

We want to get a list of sorted elements (in descending order here) as follow:

```
[6, 4, 4, 3, 3, 2, 1, 1, -2]
```

If we use Pandas method for sorting `Dataframe.sort()` we need to provide a column (or index) in `by=` argument and the only possibility we have is to change `axis`

In [8]:
df.sort_values(by=0, ascending=False)

   0  1  2
1  3 -2  4
0  1  2  3
2  1  4  6

In [11]:
df.sort_values(by=0, ascending=False, axis=1)

   2  1  0
0  3  2  1
1  4 -2  3
2  6  4  1

As you can see we are far from getting our desired result. The solution around this is as follow:

In [13]:
unstacked = df.unstack().copy()

In [14]:
unstacked

0  0    1
   1    3
   2    1
1  0    2
   1   -2
   2    4
2  0    3
   1    4
   2    6
dtype: int64

`unstack()` method gives a `DataFrame` or `Series` with multi-index values. Sorting the `Series` we got and converting it to a list is what we were looking for.

In [18]:
list(unstacked.sort_values(ascending=False))

[6, 4, 4, 3, 3, 2, 1, 1, -2]

**Note:** There are two ways to get the list output, one is as shown above and another one is using the `tolist()` method in `ndarray`. As you might not always get an `ndarray`, the pure pythonic `list()` couterpart will always work and is suggested.